<section class="hero-section pb-5 ">
  <div class="heading" [ngClass]="{'heading_light': !isDarkMode}" aria-hidden="true">
    <p [ngClass]="{'addShadowIndark': isDarkMode}">bocxy</p>
    <div class="text-container " [ngClass]="{'text-container_light': !isDarkMode}">
      <!-- <p>bocxy</p> -->
      <p data-speed="0.95">bocxy</p>
      <p data-speed="0.75">bocxy</p>
      <p data-speed="0.55">bocxy</p>
      <p data-speed="0.35">bocxy</p>
      <p data-speed="0.15">bocxy</p>
      <p data-speed="0.05">bocxy</p>
    </div>
  </div>
</section>
