<div id="wrapper">
  <section id="content">
    <div class="heading" aria-hidden="true">
      <p>BOCXY</p>
      <div class="text-container">
        <p>BOCXY</p>
        <p data-speed="0.95">BOCXY</p>
        <p data-speed="0.9">BOCXY</p>
        <p data-speed="0.85">BOCXY</p>
        <p data-speed="0.8">BOCXY</p>
        <p data-speed="0.75">BOCXY</p>
        <p data-speed="0.7">BOCXY</p>
      </div>
    </div>

    <section class="image-grid container">
      <div class="image_cont" data-speed="1">
        <!-- <img data-speed="auto"
          src="https://images.unsplash.com/photo-1556856425-366d6618905d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fG5lb258ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"
          alt=""> -->
        <img data-speed="auto" src="assets/uiuxcmda.png" alt="">

      </div>
      <div class="image_cont " data-speed="1.7">
        <!-- <img data-speed="auto"
          src="https://images.unsplash.com/photo-1520271348391-049dd132bb7c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=80"
          alt=""> -->
        <img data-speed="auto" src="assets/uiuxcmda.png" alt="">
      </div>

      <div class="image_cont" data-speed="1.5">
        <!-- <img data-speed="auto"
          src="https://images.unsplash.com/photo-1609166214994-502d326bafee?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=80"
          alt=""> -->
        <img data-speed="auto" src="assets/uiuxrural.png" alt="">
      </div>
    </section>

    <section class="title container flow--lg">
      <h1 class="fs-3"><span class="eyebrow fs-5" aria-hidden="true">with </span>TECHNOLOGIES WE USE</h1>
      <p>Powerful techstack to empower Startups</p>
    </section>

    <section class="bars container">

      <div class="bars-text  align-items-start justify-content-start">
        <div class="flow content ">
          <h2>Technologies
          </h2>
          <p>Technology Strength defines the success of any business in the Digital Era. With experience of developing
            100+ products in a diverse range of industries our team has honed the skills of domain expertise to define
            their skillset. With a unique combination of young and experienced developers, Bocxy has delivered highly
            scalable and successful products for clients across Industries.</p>
          <p class="mt-3">With a young and intrapreneural team at Bocxy, we perceive our client products as our own and
            proactively come up with relevant suggestions in the development lifecycle. Everytime one of our clients
            makes it big, we use that experience to guide our next clients on the dos and don’t of the industry ensuring
            a higher success rate. Tech-savvy Geeks of Bocxy have diverse capabilities with immense experience helping
            Startup Community to pace ahead in the market without any constraints</p>
        </div>

      </div>

      <div class="bars-cont d-flex flex-wrap gap-3  align-items-start justify-content-end">
        <div class="bar d-flex flex-wrap gap-4 " data-speed="0.8">
          <!-- <p>0.8</p> -->
          <i class="fa-brands fa-react text-white reactIcon techIcon"></i>
          <i class="fa-brands fa-js techIcon"></i>
          <i class="fa-brands fa-node techIcon"></i>
        </div>

        <div class="bar d-flex flex-wrap gap-4" data-speed="0.9">
          <!-- <p>0.9</p> -->
          <i class="fa-brands fa-angular techIcon"></i>
          <i class="fa-brands fa-bootstrap techIcon"></i>
          <i class="fa-brands fa-flutter techIcon"></i>
        </div>

        <div class="bar d-flex flex-wrap gap-4" data-speed="1">
          <i class="fa-brands fa-python techIcon"></i>
          <i class="fa-brands fa-java techIcon"></i>
          <i class="fa-brands fa-laravel techIcon"></i>
        </div>

        <div class="bar d-flex flex-wrap gap-4" data-speed="1.1">
          <!-- <p>1.1</p> -->
          <i class="fa-solid fa-code techIcon"></i>
          <i class="fa-brands fa-github techIcon"></i>
          <i class="fa-brands fa-aws techIcon"></i>
        </div>

        <div class="bar d-flex flex-wrap gap-4" data-speed="1.2">
          <!-- <p>1.2</p> -->
          <i class="fa-solid fa-server techIcon"></i>
          <i class="fa-solid fa-database techIcon"></i>
          <i class="fa-solid fa-cloud techIcon"></i>
        </div>
      </div>

    </section>

    <section class="v-center">
      <div class="parallax-slab">
        <!-- <img data-speed="auto" src="https://assets.codepen.io/756881/smoothscroller-1.jpg" alt=""> -->
        <img data-speed="auto" src="assets/meanstack1.jpg" alt="">
      </div>
    </section>

    <section class="staggered container">

      <div class="staggered_text">
        <div class="flow content">
          <h5>Custom Application Development</h5>
          <p>Our expert in-house team uses cutting edge technologies to build custom web applications that are stunning,
            robust, secure and scalable and we follow agile development methodology to ensure flexibility and faster
            delivery.</p>
        </div>

      </div>

      <div class="staggered_demo">
        <h4 class="split-stagger ">
          <!-- <img data-speed="auto" src="assets/meanstack1.jpg" alt=""> -->

          <!-- <li style="list-style:circle;">Mongo DB</li>
          <li style="list-style: circle;">Express JS</li>
          <li style="list-style: circle;">Angular JS</li>
          <li style="list-style: circle;"> Node JS</li> -->
          <li style="list-style: circle;" class="mt-4"><i class="fa-solid fa-earth-americas"></i>
            TRAVEL</li>
          <li style="list-style: circle;" class="mt-4"><i class="fa-solid fa-industry"></i>
            MARKETPLACE</li>
          <li style="list-style: circle;" class="mt-4"><i class="fa-solid fa-truck-fast"></i>
            LOGISTICS</li>
          <li style="list-style: circle;" class="mt-4"><i class="fa-solid fa-store"></i>
            E-COM
          </li>
          <li style="list-style: circle;" class="mt-4"><i class="fa-solid fa-hand-holding-medical"></i>
            HEALTH CARE</li>
          <li style="list-style: circle;" class="mt-4"><i class="fa-solid fa-coins"></i>
            FIN-TECH</li>
          <li style="list-style: circle;" class="mt-4"><i class="fa-solid fa-list-check"></i>
            PROJECT MANAGEMENT TOOLS</li>



        </h4>
      </div>

    </section>

    <section class="parallax-images container">
      <div class="parallax-text">
        <div class="flow content">
          <h2>Services that Drive Superior Outcomes</h2>
          <p>Our expert in-house team utilizes cutting-edge technologies and platforms like WordPress, Joomla, Drupal,
            Laravel, Magento, Core PHP language, WooCommerce,and more to complement your business objectives and goals.
            Being an eminent web development company,our professionals are committed to providing innovative web
            development solutions, ranging from brand research to conceptualization, crafting UX/UI design, and overall
            marketing plan.</p>
        </div>
      </div>

      <div class="image_cont">
        <!-- <img data-speed="auto" src="https://assets.codepen.io/756881/neon3.jpg" alt=""> -->
        <img data-speed="auto" src="assets/webapp1.webp" alt="">
      </div>
      <div class="image_cont">
        <!-- <img data-speed="auto" src="https://assets.codepen.io/756881/neon2.jpg" alt=""> -->
        <img data-speed="auto" src="assets/uiuxtnscert2.png" alt="">
      </div>
    </section>

    <section class="spacer"></section>
  </section>
</div>