<footer class="footer-section mt-5 text-black" id="Contact">
  <div class="container">

    <div class="footer-content pt-5 pb-5 ">
      <div class="row  ">
        <div class="col-xl-4 col-lg-4 mb-50">
          <div class="footer-widget">
            <div class="footer-logo">
              <a href="#"><img src="assets/img/bocxyLogo.png" class="img-fluid footerLogo" alt="logo"></a>
            </div>
            <div class="footer-text">
              <p class="text-lowercase text-black">BOCXY POWERS YOUR IDEATION INTO A REAL PRODUCT!</p>
            </div>

          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
          <div class="footer-widget">
            <div class="footer-widget-heading">
              <h3>Useful Links</h3>
            </div>
            <ul class="text-black">
              <!-- <li><a href="#">Home</a></li> -->
              <li><a class="text-black" href="#topTop">about</a></li>
              <li><a class="text-black" href="#Services">services</a></li>
              <!-- <li><a href="#">portfolio</a></li> -->
              <li><a class="text-black" href="#Contact">Contact</a></li>
              <li><a class="text-black" href="#Products">Products</a></li>
              <!-- <li><a href="#">Our Services</a></li>
              <li><a href="#">Expert Team</a></li>
              <li><a href="#">Contact us</a></li>
              <li><a href="#">Latest News</a></li> -->
            </ul>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
          <div class="footer-widget">
            <div class="footer-widget-heading">
              <h3>WhatsApp</h3>
            </div>
            <div class="footer-text ">
              <a target="_blank"
                href="https://api.whatsapp.com/send/?phone=+919787897873&text&type=phone_number&app_absent=0">
                <button class="whatsapp-button text-white">
                  <i class="fab fa-whatsapp"></i> Chat on WhatsApp
                </button></a>

              <p class="mt-2 text-black">Feel free to chat with us at anytime.</p>
            </div>
            <div class="subscribe-form  col-7">
              <!-- <form action="#">
                <input type="text" placeholder="Email Address">
                <button><i class="fab fa-telegram-plane"></i>send</button>
              </form> -->


              <!-- <a href="https://api.whatsapp.com/send/?phone=+919787897873&text&type=phone_number&app_absent=0">
                <img src="whats.png" class=" col-2 col-md-3" alt=""></a> -->
              <span></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-cta pt-0 pb-5  ">
      <div class="row ">

        <div class="col-xl-3 col-md-3 mb-30 mb-3 mb-md-0 ">
          <div class="single-cta">
            <i class="fas fa-phone"></i>
            <div class="cta-text">
              <h4>Call us</h4>
              <span> <a href="tel:+919787897873" class="text-decoration-none text-black">+919787897873</a></span>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-3 mb-30 mb-3 mb-md-0 ">
          <div class="single-cta">
            <i class="far fa-envelope-open"></i>
            <div class="cta-text">
              <h4>Mail us</h4>
              <span><a href="mailto:info@bocxy.com" class="text-dark">info&#64;bocxy.com</a></span>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-3 mb-30 mb-3 mb-md-0  ps-4 ps-md-0">

          <div class="footer-social-icon  ">
            <span>Follow us</span>
            <a target="_blank" href="https://www.facebook.com/people/Bocxyofficial/100064168185477/?_rdr"><i
                class="bi bi-facebook text-black"></i></a>
            <a target="_blank" href="https://www.instagram.com/bocxyofficial/?hl=en"><i
                class="bi bi-instagram text-black"></i></a>
            <a target="_blank"
              href="https://www.google.com/search?sca_esv=9cb49794e0b2005d&sxsrf=AE3TifOFFTgRl-uJPm419-4-IA3InQQOzg:1752821331441&si=AMgyJEtREmoPL4P1I5IDCfuA8gybfVI2d5Uj7QMwYCZHKDZ-E5Fcq5ae3oKmEe3T2VHoEkJhxgj4Xsc2PxYGycS6lWE5taVWbBzgUmvg8i-5mC_T7EwG0vcsjJYXi1qe9pl0cDmqcbTi5VFsSQb9GV1VRuFdKboZGWGmO7OVQPO_pJOGGl7VIp4%3D&q=Bocxy+Technologies+Private+Limited.+Reviews&sa=X&ved=2ahUKEwjRzcKm6MWOAxVYT2wGHbvDH7YQ0bkNegQIHxAE&cshid=1752821403518448&biw=1450&bih=774&dpr=1.32"><i
                class="bi bi-google text-black"></i></a>
            <a target="_blank" href="https://in.linkedin.com/company/bocxyofficial">
              <i class="bi bi-linkedin text-black"></i>
            </a>
          </div>
        </div>
        <div class="col-xl-3 col-md-3  mb-30 mb-3 mb-md-0 ">
          <a href="https://maps.app.goo.gl/bw3J72otq14ivbyH8" target="_blank" class="text-decoration-none">
            <div class="single-cta  d-flex">
              <i class="fas fa-map-marker-alt text-black"></i>
              <div class="cta-text ">
                <h4 class="text-black">Find us</h4>
                <span>Indira Garden, Royapettah, Chennai, Tamil Nadu 600014
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-area">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6 text-center text-lg-left">
          <div class="copyright-text">
            <p>© Copyright © 2025 Bocxy. All Rights Reserved
              Designed by <a href="">Bocxy Technlologies</a></p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 my-3 my-md-0 d-lg-block text-right">
          <div class="footer-menu">
            <ul>
              <li (click)="scrollTop()"><a>Home</a></li>
              <!-- <li (click)="routeTo('P&P')"><a>Privacy Policy</a></li> -->
              <li><a>Terms & Conditions</a></li>
              <!-- <li><a href="#">Privacy</a></li> -->
              <li><a>Privacy Policy</a></li>
              <li (click)="routeTo('Contact')"><a>Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>