h1,
h2 {
  color: #2c3e50;
}

p {
  color: #555;
  line-height: 1.7;
}

// .imgWrap :nth-child(1),
// :nth-child(3) {
//   width: 110px;
//   height: 110px;
// }

img {
  // height: 150px;
  // width: 150px;
  object-fit: cover;
}

hr {
  border-top: 3px solid #007bff;
}