<div class="d-none d-md-block" style="height: 5vh;"></div>

<div
  class="row vh-100 d-flex border-0 align-items-md-start align-items-center justify-content-center border border-0 border-danger mb-md-4 mb-1"
  id="topTop">
  <div
    class="h-auto col-10 d-flex flex-column align-items-center justify-content-start    border border-0 border-danger"
    id="About">
    <div class="img-glow-wrapper w-50 mt-0 mt-md-2 h-auto border-0 d-flex align-items-center justify-content-center">
      <img src="cutted.webp" alt="Image" id="landImg" class="img-fluid glow-img col-12 col-md-6 " />
      <div class="glow-shadow "></div>
    </div>


    <div class="w-75 border-0 d-flex flex-column align-items-center border border-1 border-danger">
      <!-- <h1 class="animated-gradient-text display-2 fw-semibold text-uppercase">BOCXY</h1> -->
      <app-layer-logo></app-layer-logo>
      <p class="col-12 col-md-7 text-center mt-0"> From design to deployment — we engineer
        AI-driven web and mobile solutions
        that move your business forward.
        Custom web and mobile apps, built to adapt and grow.
      </p>
      <div class="word-animate-wrapper text-center " id="btnSrt">
        <h1 id="bouncingWord" class=" display-5 text-uppercase text-center"></h1>
      </div>
    </div>

  </div>

</div>


<app-product-slide-test></app-product-slide-test>
<app-new-home-page></app-new-home-page>
<app-new-about-page></app-new-about-page>





<!-- <app-landing-sections></app-landing-sections> -->



<div (click)="scrollToTop()" class="assist-button" style="cursor: pointer;" id="assistBtn">
  <span>
    <i class="bi bi-telephone-outbound"></i> Contact us <i class="bi bi-whatsapp"></i>
  </span>
</div>