.animated-gradient-text {
  background: linear-gradient(270deg,
      #f472b6,
      #fb7185,
      #a78bfa,
      #06b6d4,
      #f472b6);
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  animation: gradientMove 3s ease infinite;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 8px;
  // font-weight: 100;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

//
.word-animate-wrapper {
  position: relative;
  // top: 20%;
  // left: 50%;
  // transform: translateX(-50%);
  z-index: 100;

  p,
  h1 {
    color: #0062ff;
    font-weight: 700;
    font-size: 1rem;
  }

  p {
    color: black;
  }
}

// .stroke-only-text {
//   font-weight: 700;
//   font-size: 3rem;
//   color: transparent; // Important: No fill
//   -webkit-text-stroke: 2px #0ea5e9; // Teal stroke
//   text-stroke: 2px #0ea5e9;

//   // If Bootstrap is adding color, override it
//   &.text-dark, &.text-light, &.text-primary {
//     color: transparent !important;
//   }
// }

//

.img-glow-wrapper {
  position: relative;
  display: inline-block;

  .glow-img {
    position: relative;
    z-index: 2;
    max-width: 100%;
  }

  .glow-shadow {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 50%;
    top: 2%;
    transform: translateX(-50%);
    width: 300px;
    height: 300px;
    // width: 320px;
    // height: 320px;
    border-radius: 50%;
    background: conic-gradient(from 0deg,
        #f472b6,
        #fb7185,
        #a78bfa,
        #06b6d4,
        #f472b6);
    filter: blur(30px);
    animation: rotateShadow 5s linear infinite;
    z-index: 1;
    opacity: 80%;
  }
}

@media screen and (max-width: 330px) {
  .img-glow-wrapper {
    .glow-shadow {
      width: 140px !important;
      height: 140px !important;
    }
  }
}

@media screen and (max-width: 300px) {
  .img-glow-wrapper .glow-shadow {
    width: 120px !important;
    height: 120px !important;
  }
}

@media screen and (max-width: 435px) {
  .img-glow-wrapper {
    position: relative;
    display: inline-block;

    .glow-img {
      position: relative;
      z-index: 2;
      max-width: 100%;
    }

    .glow-shadow {
      content: "";
      position: absolute;
      bottom: 10px;
      left: 50%;
      top: 2%;
      transform: translateX(-50%);
      width: 170px;
      height: 170px;
      // width: 320px;
      // height: 320px;
      border-radius: 50%;
      background: conic-gradient(from 0deg,
          #f472b6,
          #fb7185,
          #a78bfa,
          #06b6d4,
          #f472b6);
      filter: blur(15px);
      animation: rotateShadow 5s linear infinite;
      z-index: 1;
      opacity: 80%;
    }
  }
}

@keyframes rotateShadow {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }

  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}

@keyframes gooPulse {
  0% {
    transform: translateX(-50%) scale(1, 1);
  }

  50% {
    transform: translateX(-50%) scale(1.05, 0.95);
  }

  100% {
    transform: translateX(-50%) scale(0.95, 1.05);
  }
}

//

.assist-button {
  position: fixed;
  bottom: -240px;
  left: 95%;
  transform: translateX(-50%);
  // background: linear-gradient(135deg, #ff1a63, #0baeff);
  background: linear-gradient(145deg,
      #41e2ff91,
      #f589ffbd, );
  // background: linear-gradient(135deg, #d6e7f3, #5dcbfb);
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-weight: bold;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  overflow: hidden;
}

.assist-button span {
  display: flex;
  align-items: center;
  gap: 6px;
  opacity: 0;
  white-space: nowrap;
  font-size: 0;
  transition: all 0.4s ease;
}

.assist-button:hover {
  width: 140px;
  left: 90%;
  // width: 60px;
  height: 60px;
  gap: 10px;
  border-radius: 40px;
  background: linear-gradient(135deg, #ff57d2aa, #04a9e0d7);
  box-shadow: 0 0 20px rgba(20, 66, 77, 0.6);
}

.assist-button:hover span {
  opacity: 1;
  font-size: 16px;
}

.assist-button i {
  font-size: 20px;
  transition: transform 0.4s ease;
}

.assist-button:hover i {
  transform: rotate(-360deg) scale(1.1);
  margin-right: 1%;
}

@media screen and (max-width: 480px) {
  .assist-button {
    left: 80%;
    bottom: -20px;
  }

  .assist-button:hover {
    left: 80%;
  }

  .assist-button:hover span {
    // left: 80%;

    font-size: 0px;
  }
}