    .bgBlur {
        background-color: rgba(255, 255, 255, 0.137);
        backdrop-filter: blur(10px);
    }

    .bgBox {
        background: linear-gradient(145deg, rgba(255, 67, 198, 0.479), rgba(0, 211, 226, 0.541));
    }

    .fBox1 {
        width: 20vmin;
        height: 20vmin;
    }

    .fBox2 {
        width: 40vmin;
        height: 40vmin;
    }

    .fBox3 {
        width: 25vmin;
        height: 25vmin;
    }

    .fBox1,
    .fBox2,
    .fBox3 {
        position: absolute;
        transition: transform 5s ease-in-out;
    }


    input:focus,
    textarea:focus {
        border-color: #0d6efd;
        box-shadow: 0 0 10px rgba(13, 110, 253, 0.3);
        transition: all 0.3s ease-in-out;
    }

    .card {
        border: none;
        border-radius: 1rem;
    }

    .btn-primary {
        transition: background-color 0.3s ease;
    }

    .btn-primary:hover {
        background-color: #0056b3;
    }

    .sumbitBtn {
        background: linear-gradient(145deg, rgba(255, 67, 199, 0.973), rgb(0, 211, 226));
        color: white;
    }

    .popup-toast {
        position: fixed;
        top: 2rem;
        right: 2rem;
        background: #4e54c8;
        color: white;
        padding: 0.5rem 0.8rem;
        border-radius: 0.5rem;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
        font-weight: bold;
        animation: slideFade 0.5s ease forwards, fadeOut 0.5s ease 2s forwards;
        z-index: 9999;
    }

    @keyframes slideFade {
        0% {
            transform: translateX(100%);
            opacity: 0;
        }

        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @keyframes fadeOut {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }