.success-page {
    background: #f8f9fa;
    color: #333;
    overflow: hidden;

    h2,
    p {
        animation: fadeIn 1s forwards;
    }

    .icon-animation {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;

        i {
            position: absolute;
            opacity: 0;
            transform: scale(0);
            animation: floatIcons 3s ease-in-out infinite;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes floatIcons {
    0% {
        transform: translateY(200px) rotate(0deg) scale(0.5);
        opacity: 0;
    }

    25% {
        opacity: 0.5;
    }

    50% {
        transform: translateY(100px) rotate(360deg) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateY(0px) rotate(0deg) scale(0.1);
        opacity: 0;
    }
}