html,
body {
  // overflow-x: hidden;
  // overscroll-behavior-x: none; /* Prevent left/right swipe navigation */
  touch-action: pan-y; /* Allow only vertical gestures */
}

.spinner-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(20px);
    z-index: 20000;
    position: fixed;
    top: 0;
    opacity: 0;
    animation: fadeIn 0.8s ease forwards;
}
 
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
 
@keyframes logoPulse {
 
    0%,
    100% {
        transform: scale(0.95);
        opacity: 0.9;
    }
 
    50% {
        transform: scale(1.05);
        opacity: 1;
    }
}
 
.spinner-logo {
    width: 60px;
    height: 60px;
    z-index: 2;
    position: relative;
    // animation: logoPulse 2s ease-in-out infinite;
        animation: zoomIn infinite 3s ease-in-out;

}
 
/* Bubble container */
.bubble {
    position: absolute;
    border-radius: 50%;
    animation: bubbleAnim 3s ease-in-out infinite alternate-reverse;
    animation-fill-mode: both;
}

@keyframes zoomIn {
  0%{
    transform: scale(100%);
  }
  50%{
    transform: scale((150%));
  }
  100%{
    transform: scale((450%));
  }
}
 
/* Bubble colors and sizes */
.bubble:nth-child(2) {
    width: 110px;
    height: 110px;
    /* border: 3px solid rgba(0, 150, 255, 0.6); */
    /* Blue */
    /* background-color: rgba(83, 83, 83, 0.403); */
    background: linear-gradient(135deg, rgb(255, 184, 227), rgb(14, 191, 204));
    opacity: 0.6;
    animation-delay: 0s;
}
 
.bubble:nth-child(3) {
    width: 130px;
    height: 130px;
    /* border: 3px solid rgba(0, 255, 149, 0.6); */
    /* Green */
    /* background-color: rgb(139, 139, 139); */
    background: linear-gradient(135deg, rgb(253, 118, 199), rgb(14, 191, 204));
    opacity: 0.3;
    animation-delay: 0.3s;
}
 
.bubble:nth-child(4) {
    width: 150px;
    height: 150px;
    /* border: 3px solid rgba(255, 150, 0, 0.6); */
    border: 3px solid rgba(255, 139, 243, 0.6);
    /* Orange */
    /* background-color: rgb(212, 212, 212); */
    /* background: linear-gradient(135deg, rgb(218, 59, 154), rgb(14, 191, 204)); */
    opacity: 0.2;
    animation-delay: 0.6s;
}
 
/* Wave-like opacity effect */
@keyframes bubbleAnim {
 
    0%,
    100% {
        transform: scale(0.8);
        opacity: 0.4;
    }
 
    50% {
        transform: scale(100);
        opacity: 1;
    }
}