@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body {
  background: #000;
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.text-block {
  margin: 15vw;
  max-width: 800px;
  font-size: clamp(16px, 4vw, 40px);
  color: #fff;
}

.char {
  will-change: transform;
}
