.ring {
  position: fixed;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border: 0.5px solid #b5b5b5;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
  opacity: 0.1;
  background: linear-gradient(90deg, rgb(255, 0, 217), rgb(0, 168, 230));

  //   mix-blend-mode: difference;
  // will-change: transform;

  // mix-blend-mode:hard-light;
}

.ring-2 {
  width: 15px;
  height: 15px;
  border-width: 2px;
  border-color: #f51fe7;
  opacity: 0.2;
  background-color: #ffffff;
}

.ring-3 {
  width: 20px;
  height: 20px;
  border-color: #88faff;
  opacity: 0.1;
}

.for_all_darkMode {
  background-color: #000000 !important;
  color: #ffffff !important;
}
.for_all_lightMode {
  background-color: #ffffff !important;
  color: #000000 !important;
}

.section-title {
  font-size: 2rem;
  font-weight: bold;
  position: relative;
  display: inline-block;
  padding-bottom: 8px;
  // color: #222;
}

.section-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, #e40760, #28abd0); /* rose to teal */
  border-radius: 2px;
}
