h2 {
    margin-top: 40px;
    font-weight: bold;
}

ul,
ol {
    padding-left: 1.5rem;
}

.accordion-button {
    font-weight: 500;
    background-color: #f8f9fa;
}

.blockquote {
    font-size: 1.1rem;
    border-left: 5px solid #ccc;
    padding-left: 15px;
    margin: 20px 0;
}


.card-title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.card ul {
    padding-left: 1.2rem;
    font-size: 0.95rem;
}

.card-text {
    font-size: 1rem;
    line-height: 1.6;
}

.card:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
}

hr {
    border-top: 1px solid black;
}